<div class="container">
    <div class="billboard-slick">
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="shop">
            <div class="shop-img">
                <img src="../../../../assets/shop01.png" alt="">
            </div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- /shop -->

    </div>

</div>